name: MS1 CI - Run Jest Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Install root dependencies
        run: npm ci

      - name: Install client dependencies
        run: |
          cd client
          npm ci

      - name: Run backend tests
        run: npm run test:backend
        continue-on-error: true

      - name: Run frontend tests
        run: npm run test:frontend
        continue-on-error: true